
* {
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
    background: url(images/bg.jpg);
    background-color: #222328;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #888a97;
	font-family: 'Space Mono', monospace;

}

.main-container {
    display: flex;
    flex-direction: column;

}

.nav {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: small;
    padding-bottom: 10px;
}

a {
    color: #888a97;
    transition: 0.5s;
}

a:hover {
    color: #5a5bd3;
    text-decoration: none;
}

a:active {
    color: #5a5bd3;
    text-decoration: underline;
}

/* .socialLink {
    color: #888a97;
    text-decoration: none;
    transition: 0.5s;
}

.socialLink:hover {
    color: #5a5bd3;
    text-decoration: none;
} */

.logo {
    display: flex;
    justify-content: center;
    align-items: center;   
    padding-bottom: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.logoW {
    width: 150px;
    transition: 0.3s;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
    align-items: center;
}

.push {
    /* padding-top: 100px; */
    display: flex;
    flex-direction: column;
}

/* FOOTER START */
footer {
    background-color: #222328;
    display: block;
    position: fixed;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    color: #888a97;
    padding: 5px 0 10px 0;
    bottom: 0;
    width: 100%;
  }
  
  footer .socialLink {
    color: #888a97;
    text-decoration: none;
    transition: 0.5s;
  }
  
  footer .socialLink:hover {
    color: #5a5bd3;
    text-decoration: none;
  }
  /* FOOTER END */

.socials {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    font-size: 30px;
}

.socials a {
    color: #5a5bd3;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

.socials a:hover {
    color: #888a97;
}






.area{
    z-index: -5; 
    width: 100%;

    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #5a5bd3;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

  /* RESPONSIVENESS */

  @media screen and (max-width: 425px) {

    .nav {
        font-size: x-small;
    }
  }